
/* Quiz Component */
.answerOptions {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  /* QuestionCount Component */
  .questionCount {
    padding: 0.5rem 0 0;
    font-size: 14px;
  }
  
  /* Question Component */
  .question {
    margin: 0;
    padding: 0.5rem 1.0rem 1.5rem 1.5rem;
  }
  
  /* AnswerOption Component */
  .answerOption {
    border-top: 1px solid #eee;
  }
  
  .answerOption:hover {
    background-color: #eefbfe;
  }
  
  .radioCustomButton {
    position: absolute;
    width: auto;
    opacity: 0;
  }
  
  .radioCustomButton,
  .radioCustomLabel {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
  }
  
  .radioCustomLabel {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 1.0rem 2.5rem 1.0rem 7rem;
    font-size: 11px;
    line-height: 1.5;
  }
  
  .radioCustomButton ~ .radioCustomLabel:before {
    position: absolute;
    top: 16px;
    left: 28px;
    width: 18px;
    height: 18px;
    content: '';
    display: inline-block;
    vertical-align: middle;
    background: #fff;
    border: 1px solid #bbb;
    border-radius: 50%;
    transition: all 0.3s;
  }
  
  .radioCustomButton:checked ~ .radioCustomLabel:before {
    content: '';
    background: #8bc53f url(./svg/icon-check.svg) no-repeat;
    background-size: 21px;
    border-color: #8bc53f;
  }

  